@media screen and (max-width: 1920px) {
  .section-hero .hero-box .slide-text {
    bottom: 20px;
  }
}
@media screen and (max-width: 1420px) {
  .section-subscription .content-section > :nth-child(3) {
    grid-column: 1 / span 2;
    justify-self: center;
    width: 420px;
  }

  header .desktop-view .header-box .nav-main nav > ul {
    padding-left: clamp(40px, 5vw, 340px);
  }
  .section-store-adv .adv-back-img img {
    width: 140%;
  }
  .section-store-adv .adv-back-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 5, 5, 0.737);
  }
}
@media screen and (max-width: 1370px) {
  /* header .desktop-view .header-box .nav-main nav ul {
    padding-left: 200px;
  } */
}
@media screen and (max-width: 1290px) {
  /* header .desktop-view .header-box .nav-main nav ul {
    padding-left: 187px;
  } */
  .section-subscription .content-section {
    grid-template-rows: repeat(2, 640px);
    place-content: center;
    gap: 2.5rem;
  }
  .section-challenge .challenge-box .box-right .show-cup-box .btm .cups .top-7 {
    justify-content: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer-box .footer-top {
    height: auto;
  }
}
@media screen and (max-width: 1180px) {
  header .desktop-view .header-box .nav-main .side-nav .search-box {
    width: 126px;
  }
  header .desktop-view .header-box .side-nav input {
    width: 90px !important;
  }
  header .desktop-view .header-box .nav-main {
    width: 100%;
    height: 100%;
    grid-template-columns: 61px auto auto;
    padding: 0 1rem;
  }
  header .desktop-view .header-box .nav-top {
    padding: 0 1rem;
  }
  header .desktop-view .header-box .nav-btm {
    padding: 0 1rem;
  }
  header .desktop-view .header-box .nav-main nav ul li a {
    font-size: 0.875rem;
  }
  header .desktop-view .header-box .nav-main .side-nav p a {
    font-size: 0.875rem;
  }
  header .desktop-view .header-box .nav-main .side-nav input::placeholder {
    font-size: 0.875rem;
  }
  .section-why-chose .why-chose-box .why-chose-info {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem;
  }
  .section-menu .menu-box-three-grid .info-grid-three-row .filter-row {
    gap: 1rem;
  }
}
@media screen and (max-width: 1150px) {
  footer .footer-box .footer-top .top-box {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .footer-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-back-img {
    & img {
      position: relative;
      right: -120px;
      opacity: 0.2;
    }
  }
}
@media screen and (max-width: 1100px) {
  /* .section-hero .hero-box .text-absolute {
    padding: 1rem 0 10rem 0;
  } */
  /* .section-hero .hero-box .text-absolute h1,
  .section-hero .hero-box .text-absolute h1 span {
    font-size: clamp(40px, 5vw, 60px);
  } */
  .section-hero .hero-box .video-box {
    min-height: 800px;
  }
  .section-hero .hero-box .video-box video {
    min-height: 800px;
  }
  .section-beat-the-heat .desktop-section {
    display: none;
  }
  .section-beat-the-heat .tab-mob-section {
    display: block !important;
  }
  .section-beat-the-heat .heat-box .tab-mob-section .video-box {
    overflow: hidden;
  }
  .section-beat-the-heat .heat-box .tab-mob-section .video-box video {
    width: 123%;
  }
  .section-beat-the-heat .tab-mob-section .heat-section .heat-mob-swiper-box {
    width: 100%;
  }
  .section-challenge .challenge-box {
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
  }
  .section-challenge .challenge-box .box-left {
    gap: 2rem;
  }
  .section-challenge .challenge-box .box-right .show-cup-box {
    height: 100%;
  }
}
@media screen and (max-width: 1090px) {
  .section-menu .menu-box-three-grid .info-grid-three-row .filter-row {
    display: none !important;
  }
  .category-filter-box-tab-mob {
    display: block;
  }
  .section-menu .menu-box-three-grid .shop-items-col-grid {
    grid-template-columns: 1fr;
  }
  .section-menu .menu-box-three-grid .shop-items-col-grid .filter-bar {
    display: none !important;
  }
  .section-menu .menu-box-three-grid .shop-items-col-grid {
    height: auto;
  }
}
@media screen and (max-width: 1032px) {
  .recipe-accordion .accordion-item-three {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto;
  }
  .recipe-accordion .accordion-body .acc-three {
    grid-column: 1 / span 2;
    justify-self: center;
    width: auto;
  }
}
@media screen and (max-width: 988px) {
  .desktop-mob.box-5 .img-box .btm .left,
  .btm-info .mob-adv > .img-box > .btm-mob .left {
    justify-content: end;
    align-items: center;
  }
}
@media screen and (max-width: 960px) {
  header .desktop-view {
    display: none;
  }
  header .mobile-view {
    display: block;
    position: relative;
    top: -1px;
  }
  .section-hero .hero-box .text-absolute {
    width: 100%;
    height: calc(100% - 170px);
  }
  .section-hero .hero-box .video-box {
    min-height: 700px;
  }
  .section-hero .hero-box .video-box video {
    min-height: 700px;
  }
  .section-hero .hero-box .slide-text .box1 {
    height: 66px;
  }
  .section-hero .hero-box .slide-text .box2 {
    height: 66px;
  }
  .section-hero .hero-box .slide-text .box2 .slider article {
    font-size: 36px;
  }
  .slider-track-img {
    width: 45px;
    height: 39px;
  }
  .section-hero {
    padding-bottom: 0rem;
  }
  .section-hero .hero-box .slide-text {
    bottom: 6px;
  }

  .section-story .swiper-story .swiper-button-next,
  .section-story .swiper-story .swiper-button-prev {
    display: none !important;
  }
  .breadcrumb-box {
    top: 110px;
  }
}
@media screen and (max-width: 882px) {
  .section-subscription .content-section {
    grid-template-rows: repeat(3, 640px);
    place-content: center;
    gap: 2rem;
  }
  .section-subscription .content-section > :nth-child(3) {
    grid-column: auto;
    justify-self: stretch;
    width: auto;
  }
  .section-quiz .quiz .quiz-box {
    width: 100%;
    height: auto;
  }
  .quiz-option-box {
    gap: clamp(0.4rem, 2vw, 8rem);
    flex-direction: column;
  }
  .quiz-question {
    padding: clamp(0.4rem, 2vw, 1rem);
    background-color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: var(--Primary-text);
    font-family: var(--sw-semi-bold);
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: clamp(1rem, 3rem, 1.5rem);
    text-align: center;
  }
  .option {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: start;
    gap: clamp(0.4rem, 2vw, 8rem);
    margin: 0;
  }
  .option img {
    width: auto;
    height: clamp(50px, 5vw, 80px);
    margin-bottom: 5px;
  }
  .quiz-result-pairing {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 3vw, 1.5rem);
    margin-bottom: clamp(1rem, 5vw, 1.5rem);
  }
  .quiz-result-pairing .pair-1,
  .quiz-result-pairing .pair-2 {
    width: 100%;
    height: auto;
  }
  .quiz-result-pairing .pair-1,
  .quiz-result-pairing .pair-2 {
    width: 100%;
    height: auto;
    background-color: var(--body-text-light);
    padding: 10px;
    margin: 0;
    flex-direction: row;
    justify-content: start;
    gap: clamp(0.4rem, 2vw, 0.8rem);
  }
  #result-container {
    padding: 0;
  }
  .quiz-result-pairing .pair-1 img,
  .quiz-result-pairing .pair-2 img {
    width: auto;
    height: clamp(60px, 5vw, 80px);
  }
  .section-recipe .recipe-section .recipe-options {
    display: none !important;
  }
  .section-recipe .recipe-section > .menu {
    display: block !important;
  }
  .section-challenge .challenge-box {
    grid-template-columns: auto;
    grid-auto-rows: auto;
  }
  .section-challenge .challenge-box .box-right .show-cup-box .btm .cups {
    gap: 2rem;
  }
  .section-challenge .challenge-box .box-right .show-cup-box .btm {
    gap: 1rem;
  }
  .section-challenge .challenge-box .box-right .show-cup-box .btm {
    & p {
      margin-bottom: 1rem;
    }
  }
  .section-challenge .challenge-box .box-right .show-cup-box .top::after {
    bottom: -10px;
  }
  .section-store-adv .adv-back-img img {
    width: 160%;
  }
  .section-store-adv .adv-side-texture {
    width: 1320px;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    display: none;
  }
  footer .footer-box .footer-top {
    height: auto;
  }
  /* footer .footer-box .footer-top .top-box .footer-options {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    grid-template-rows: auto;
  } */
  /* footer .footer-box .footer-top .top-box .footer-options {
    flex-wrap: wrap;
    justify-content: flex-start;
  } */
  footer .footer-box .footer-top .btm-box {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 805px) {
  .section-join
    .join-box-grid
    .join-section
    .profile-email
    video.email-back-video,
  .section-join .join-box-grid .join-section .profile-email .email-box {
    width: 100%;
    height: 100%;
  }

  .section-join .join-box-grid .join-section .profile-email .email-box {
    padding: 1rem;
  }
  .section-join .join-box-grid .join-section .profile-email .email-box .mdl {
    width: 100%;
  }
  .section-join
    .join-box-grid
    .join-section
    .profile-email
    .email-box
    .mdl
    div:nth-child(1) {
    width: 100%;
  }
  .section-join
    .join-box-grid
    .join-section
    .profile-email
    .email-box
    .mdl
    input.email-input-box {
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .recipe-accordion .accordion-item-three {
    grid-template-columns: repeat(auto-fit, minmax(260px, 375px));
    grid-template-rows: auto auto auto;
  }
  .recipe-accordion .accordion-body .acc-three {
    grid-column: auto;
    justify-self: stretch;
    width: auto;
  }
  .section-join .join-box-grid .join-section .qr {
    flex-direction: column;
    gap: 1rem;
  }
  .section-join .join-box-grid .join-section .back-color {
    height: 800px;
    top: 180px;
  }
  .qr .item-box:last-of-type,
  .qr .item-box:first-of-type {
    height: 326px;
    width: 270px !important;
  }
  .qr .item-box .text-img-box {
    & img {
      width: 83%;
    }
  }
  .section-why-chose .why-chose-box .why-chose-info .certificate {
    flex-wrap: wrap;
  }
  footer .footer-box .footer-top {
    height: auto;
  }
  footer .footer-box .footer-top .btm-box .visit {
    width: 100%;
  }
  footer .footer-box .footer-top .btm-box {
    flex-wrap: wrap;
  }
  footer .footer-box .footer-btm {
    width: 100%;
    height: auto;
    padding: clamp(1rem, 2vw, 2rem) 0;
  }
  .footer-beans-texture {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
@media screen and (max-width: 660px) {
  .section-barista-choice .b-choice-box .swiper-navigation {
    display: none !important;
  }
  .section-store-adv .adv-back-img img {
    width: 180%;
  }
  .section-menu .menu-box-three-grid .info-grid-three-row .search-row div {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .section-hero .hero-box .text-absolute button {
    padding: 16px;
  }
  .section-hero .hero-box .text-absolute button span {
    font-size: 1rem;
  }
  .section-beat-the-heat .heat-box .tab-mob-section .video-box video {
    width: 253%;
  }
  .section-beat-the-heat .tab-mob-section .heat-section {
    padding: 2rem 0;
  }

  .section-beat-the-heat .tab-mob-section .heat-section .text {
    padding-right: 1rem;
  }
  .section-challenge .challenge-box .box-right .show-cup-box .btm .cups .top-7,
  .section-challenge .challenge-box .box-right .show-cup-box .btm .cups .btm-7 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .section-story .story-box .swiper-slide .box .text-2-grid .top.top-2-grid {
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
  }
  .section-story .story-box .swiper-slide .box .text-2-grid .text-col article {
    display: none;
  }

  .section-story
    .story-box
    .swiper-slide
    .box
    .text-2-grid
    .top
    img.story-box-background-img-mob {
    object-fit: contain;
  }
  .section-story .story-box .swiper-slide-active {
    z-index: 2;
    background-color: var(--body-text-coffee);
    opacity: 1 !important;
  }
  footer .footer-box .footer-top .btm-box .address {
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  /* .category-filter-box .dropdown .dropdown-menu {
    width: 100vw;
  } */
}
@media screen and (max-width: 512px) {
  .section-hero .hero-box .slide-text .box2 .slider {
    gap: 1rem;
  }

  .quiz-result-price-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  .section-store-adv .adv-back-img img {
    width: 200%;
  }
  .section-store-adv .adv-boy,
  .section-store-adv .adv-girl {
    display: none;
  }

  .stt-box {
    position: fixed;
    bottom: 50px;
    right: clamp(10px, 5vw, 50px);
    z-index: 2000;
    width: 50px;
    height: 50px;
    padding: 2px;
  }
  .stt-box i:nth-child(1),
  .stt-box i:nth-child(2) {
    font-size: 1.8rem;
  }
  .category-filter-box .dropdown .dropdown-menu {
    width: calc(98vw - 2rem);
  }
}
@media screen and (max-width: 446px) {
  .section-subscription .content-section {
    grid-template-rows: repeat(3, auto);
    place-content: center;
    gap: 2rem;
  }
  .section-quiz .quiz .quiz-box {
    padding: 1rem;
  }
  #quiz-container {
    padding: 0;
  }
  .option {
    padding: 0.8rem;
  }
  .section-store-adv .adv-back-img img {
    width: 220%;
  }
}
@media screen and (max-width: 416px) {
  .desktop-mob.box-5 .img-box .btm .left,
  .btm-info .mob-adv > .img-box > .btm-mob .left {
    & h5 {
      text-align: center;
    }
  }
  .btm-info .mob-adv > .img-box > .btm-mob .left {
    justify-content: end;
    padding-top: 6rem;
  }
  .btm-info .mob-adv > .img-box > .btm-mob {
    padding: 1rem;
  }
  .section-hero .hero-box .text-absolute {
    width: 100%;
    height: calc(100% - 130px);
  }
  .section-hero .hero-box .text-absolute h1 {
    color: var(--body-text-coffee);
    font-family: bl-rg;
    font-size: 42px;
  }
  .section-hero .hero-box .video-box {
    min-height: 600px;
  }
  .section-hero .hero-box .video-box video {
    min-height: 600px;
  }
  .recipe-section .item-box {
    width: 100%;
    height: auto;
  }
  .section-join .join-box-grid .join-section .vote-info {
    align-items: start;
  }
}
@media screen and (max-width: 380px) {
  .item-box .btn-box {
    flex-direction: column;
    gap: 0.4rem;
  }
  .button-md-cart {
    order: 2;
  }
  .button-md-buy {
    order: 1;
  }
  .item-box {
    width: 100%;
  }
  .section-menu .menu-box-three-grid .item-row-grid .tab-pane .page-item-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, max-content));
  }
}

@media screen and (max-width: 360px) {
  .choice-box .choice-swiper .item-box,
  .section-beat-the-heat
    .tab-mob-section
    .heat-section
    .heat-mob-swiper-box
    .item-box {
    width: 280px;
  }
  .button-md-cart span {
    font-size: 16px;
  }
  .button-md-buy span {
    font-size: 16px;
  }

  .button-md-cart {
    padding: 10px 14px !important;
  }
  .button-md-buy {
    padding: 10px 14px !important;
  }
  .option p {
    font-size: 16px;
  }
  .recipe-accordion .accordion-body {
    padding: 1rem 0;
  }
  .section-story .story-box .swiper-slide .box .text-2-grid {
    grid-template-rows: auto auto;
    gap: 1rem;
  }
  .section-story
    .story-box
    .swiper-slide
    .box
    .text-2-grid
    .top
    img.story-box-background-img-mob {
    object-fit: cover;
  }
  footer .footer-box .footer-top .btm-box .address-1,
  footer .footer-box .footer-top .btm-box .address-2 {
    width: auto;
  }
}
@media screen and (max-width: 340px) {
  .story-shop-item-col {
    display: none;
  }
  .section-store-adv > .adv-back-img > img {
    width: 330%;
  }
  .section-story .story-box {
    width: clamp(90%, 86vw, 97%);
  }
}

/* min-width */

@media screen and (min-width: 1920px) {
  .section-hero .hero-box .slide-text {
    bottom: 20px;
  }
  .section-hero .hero-box .text-absolute {
    top: 80px;
  }
  .section-hero .hero-box .video-box {
    max-height: 100vh;
  }
  .section-hero .hero-box .video-box video {
    max-height: 100vh;
  }
  .section-hero .hero-box .text-absolute button {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: var(--body-text-dark) !important;
    padding: 16px 24px !important;
  }
  .section-hero .hero-box .text-absolute button span {
    color: var(--body-text-light);
    font-family: var(--sw-md);
    font-size: 20px;
    font-weight: 500;
  }
  .section-hero .hero-box .text-absolute h1 {
    color: var(--body-text-coffee);
    font-family: bl-rg;
    font-size: 100px;
  }
  .section-subscription .content-section {
    gap: 5rem;
  }
  .choice-box .choice-swiper .item-box .text-img-box {
    width: 100%;
    height: 231px;
  }
  .section-store-adv {
    height: auto;
    max-height: 460px;
  }
  .section-store-adv .adv-side-texture {
    height: 460px;
  }
}
